@import 'colors';
@import 'fonts';
@import 'header';
@import 'nav';
@import 'content';
@import 'footer';

#main
{
  width:960;
  margin: 0px auto;
}

.class
{
  clear: both;
}
a
{
  text-decoration: none;
  color: $tesla_red;


  &:hover
  {
    text-decoration: underline;
    color: desaturate($tesla_red, 20%);
  }
}